<div class="header bg-gradient-orange pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group">
                        <!-- <label class="form-control-label text-white font-weight-normal"
                            for="input-username">Username</label> -->
                        <input class="form-control form-control-alternative" (keyup)="search(username.value)"
                            id="input-username" #username placeholder="Search username" type="text" ngModel
                            name="username" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0" id='top'>Employee</h3>
                </div>
                <div class="alert alert-danger w-25 mx-auto" *ngIf="error">
                    <i class="fa fa-warning me-2"></i>Something went wrong.
                </div>
                <mat-progress-bar mode="indeterminate" *ngIf='loading'></mat-progress-bar>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr class="font-weight-light text-warning header_fs">
                                <th class="font-weight-600 text-warning">Name</th>
                                <th class="font-weight-600 text-warning">Username</th>
                                <th class="font-weight-600 text-warning">Phone</th>
                                <th class="font-weight-600 text-warning">Position</th>
                                <th class="font-weight-600 text-warning">VMY Code</th>
                                <th class="font-weight-600 text-warning">Department</th>
                                <th class="font-weight-600 text-warning">Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="employees.length;else noData">
                            <tr *ngFor="let employee of employees">
                                <th scope="row ">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">{{ employee.name }}</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    {{ employee.userName }}
                                </td>
                                <td>
                                    {{ employee.phoneNumber }}
                                </td>
                                <td>
                                    {{ employee.position }}
                                </td>
                                <td>
                                    {{ employee.vmyCode }}
                                </td>
                                <td>
                                    {{ employee.department }}
                                </td>
                                <td>
                                    <button mat-icon-button class="text-primary mr-2">
                                        <i class="fa fa-lg fa-pen"></i>
                                    </button>
                                    <button mat-icon-button color="error">
                                        <i class="fa fa-lg fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <ng-template #noData>
                            <tbody>
                                <tr>
                                    <td colspan="7" *ngIf="!loading">
                                        <p>There is no data.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </ng-template>
                    </table>
                </div>
                <div class="container-fluid mt-2" *ngIf='employees.length'>
                    <div class="row justify-content-center">
                        <p class="col-2"> {{currentTotalElement}} /
                            {{totalEmployees}} employees</p>
                        <app-my-paginator class="col" [pagable]="pagable" (changePage)="onChangePage($event)">
                        </app-my-paginator>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- floating icon -->
<div class="fab-icon">
    <button mat-fab class="btn-warning " color='' (click)="openEmployeeModal()">
        <i class="fa fa-2x fa-plus"></i>
    </button>
</div>