<div class="d-flex justify-content-center">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item" [ngClass]='{disabled: pagable.currentPage<=0}'>
                <a class="page-link" (click)='prevPage()'>
                    <i class="fa fa-chevron-left"></i>
                </a>
            </li>
            <li class="page-item" *ngFor='let i of pageSize' [ngClass]='{active:i===pagable.currentPage}'>
                <a class="page-link" (click)="setPage(i)">{{i+1}}</a>
            </li>

            <li class="page-item" [ngClass]='{disabled: pagable.currentPage>=pagable.totalPages-1}'>
                <a class="page-link" (click)='nextPage()'>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>