<div class="header bg-gradient-orange pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card status -->
            <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)">
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-4 col-lg-3 col-xl-2">
                            <div class="form-group">
                                <label class="form-control-label text-white font-weight-normal" for="input-username">
                                    Username
                                </label>
                                <input class="form-control form-control-alternative" id="input-username"
                                    placeholder="Enter username" type="text" ngModel name="userName"
                                    (keyup)="search(searchForm.value)" />
                            </div>
                        </div>
                        <div class="col-4 col-lg-3 col-xl-2">
                            <label class="form-control-label text-white font-weight-normal" for="input-status">
                                Status</label>
                            <div class="form-group">
                                <select class="form-control form-select" ngModel name="issueStatus" id="input-status">
                                    <option value="">ALL</option>
                                    <option value="Open">OPEN</option>
                                    <option value="In Progress">IN PROGRESS</option>
                                    <option value="Done">DONE</option>
                                    <option value="Cancelled">CANCELLED</option>
                                    <option value="Under Review">UNDER REVIEW</option>
                                    <option value="Approved">APPROVED</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4 col-lg-3 col-xl-2">
                            <div class="form-group">
                                <label class="form-control-label text-white font-weight-normal" for="input-duedate">
                                    Due Date</label>
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"
                                                (click)="d.toggle()"></i></span>
                                    </div>
                                    <input class="form-control datepicker" placeholder="Select date" id="input-duedate"
                                        name="dueDate" [(ngModel)]="data.dueDate" ngbDatepicker #d="ngbDatepicker"
                                        (click)="d.toggle()" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 mt-lg-4 p-1 ms-2">
                            <button class="btn btn-primary font-weight-normal" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0" id='top'>
                    <h3 class="mb-0">Tasks</h3>
                </div>
                <div class="alert alert-danger w-25 mx-auto" *ngIf="error">
                    <i class="fa fa-warning me-2"></i>Something went wrong.
                </div>
                <!-- loading progress bar -->
                <mat-progress-bar mode="indeterminate" *ngIf='loading'></mat-progress-bar>
                <div class="table-responsive">
                    <table class="table align-items-start">
                        <thead class="thead-light">
                            <tr class="font-weight-normal text-warning custom_header_fs">
                                <th class="font-weight-800 text-warning">Task</th>
                                <th class="font-weight-800 text-warning">CR No</th>
                                <th class="font-weight-800 text-warning">Project</th>
                                <th class="font-weight-800 text-warning">Type</th>
                                <th class="font-weight-800 text-warning">Due Date</th>
                                <th class="font-weight-800 text-warning">Status</th>
                                <th class="font-weight-800 text-warning">Assignee</th>
                                <th class="font-weight-800 text-warning">Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="tasks.length; else noData">
                            <tr *ngFor="let task of tasks">
                                <td> {{ task.task }} </td>
                                <td> {{ task.crNo }} </td>
                                <td> {{ task.pname }} </td>
                                <td> {{ task.issueType }} </td>
                                <td> {{ task.dueDate }} </td>
                                <td> {{ task.issueStatus }} </td>
                                <td> {{ task.userName }} </td>
                                <td class="px-0">
                                    <i class="fas fa-sms fa-2x" (click)="openSmsModal()" style="cursor: pointer"></i>
                                    <i class="fas fa-envelope fa-2x" (click)="openEmailModal()"
                                        style="margin-left: 20px; cursor: pointer"></i>
                                </td>
                            </tr>
                        </tbody>
                        <ng-template #noData>
                            <tbody>
                                <tr>
                                    <td colspan="7" *ngIf="!loading">
                                        <p>There is no data.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </ng-template>
                        <tbody *ngIf='loading'>
                            <tr>
                                <td colspan="7">
                                    <p>Loading...</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- pagination -->
                <div class="container-fluid mt-2" *ngIf='tasks.length'>
                    <div class="row justify-content-center">
                        <p class="col-2"> {{currentTotalElement}} /
                            {{totalTasks}} tasks</p>
                        <app-my-paginator class="col" [pagable]="pagable" (changePage)="onChangePage($event)">
                        </app-my-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>